In [1]:
import pandas as pd
import numpy as np

In [2]:
file = "C://Users//Ryan Conway//Desktop//Pandas_HW//video_game_data.csv"

In [3]:
heros_df = pd.read_csv(file)

In [4]:
heros_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
player_info = heros_df.loc[:,["SN","Gender","Age"]]

In [6]:
# Display Total Amount of Players

In [7]:
totalPlayers = heros_df["SN"].nunique()

In [8]:
totalPlayers

576

In [9]:
#Purchasing Analysis

In [10]:
#Calculate Number of Unique Items

In [11]:
unique_item_count = heros_df.groupby('Item ID')['Item Name'].nunique().count()

In [12]:
unique_item_count

183

In [13]:
#Calculate Number of Purchases

In [14]:
purchase_count = heros_df.groupby("Purchase ID")["Price"].nunique().count()

In [15]:
purchase_count

780

In [16]:
#Average Item Price

In [17]:
avg_Price = heros_df.groupby("Purchase ID")["Price"].sum()

In [18]:
avg_Price =round(avg_Price.mean(),2)

In [19]:
avg_Price

3.05

In [20]:
#Calculate total Revenue

In [21]:
total_Revenue = round(sum(heros_df["Price"]),2)

In [22]:
total_Revenue

2379.77

In [23]:
#Create DataFrame that summarizes the Purchase Analysis

In [191]:
summary_dict = [{"Total Players" : totalPlayers,
                "Number of Unique Items" : unique_item_count, 
               "Average Price" : avg_Price, 
               "Number of Purchases" : purchase_count, 
               "Total Revenue" : total_Revenue}]

In [192]:
summary_df = pd.DataFrame(summary_dict)

In [193]:
summary_df

,Average Price,Number of Purchases,Number of Unique Items,Total Players,Total Revenue
0,3.05,780,183,576,2379.77

In [27]:
#Gender Analysis

In [28]:
#Count number of Each player by Gender

In [29]:
gender_count = heros_df.groupby("Gender")["SN"].nunique()

In [30]:
gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [31]:
#Calculate Percentage of each Gender

In [32]:
female_gender_percentage = 100 * gender_count[0] / totalPlayers

In [33]:
female_gender_percentage

14.0625

In [34]:
male_gender_percentage = 100 * gender_count[1] / totalPlayers

In [35]:
male_gender_percentage

84.02777777777777

In [36]:
other_gender_percentage = 100 * gender_count[2] / totalPlayers

In [37]:
other_gender_percentage

1.9097222222222223

In [38]:
#Create DataFrame that displays both Gender count & percentage

In [39]:
percent_dict = {"Female" : female_gender_percentage, 
                "Male" : male_gender_percentage, 
                "Other / Non-Disclosed" : other_gender_percentage}

In [40]:
gender_demagraphics = pd.DataFrame({"Percent" : percent_dict, "Gender Count" : gender_count})

In [41]:
gender_demagraphics

                         Percent  Gender Count
Gender
Female                 14.062500            81
Male                   84.027778           484
Other / Non-Disclosed   1.909722            11

In [42]:
#Calculate Purchase Count per Gender

In [43]:
gender_purchase_count = heros_df.groupby(["Gender"]).count()["Price"]

In [44]:
gender_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [45]:
#Calculate Gender Average Price

In [46]:
avg_genderPurchases=heros_df.groupby('Gender')['Price'].mean()
avg_genderPurchases

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [47]:
#Calculate sum of purchase price by Gender

In [48]:
gender_total_revenue = heros_df.groupby(["Gender"]).sum()["Price"]

In [49]:
gender_total_revenue

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [50]:
#Calculate Average price per person by Gender

In [51]:
player_info = heros_df.loc[:,["SN", "Gender"]]
individual = player_info.sort_values('Gender').drop_duplicates(subset=["SN"], keep='last')
indiv_value = individual['Gender'].value_counts()

In [52]:
avg_per_person = (gender_total_revenue) / indiv_value

In [53]:
#Create DataFrame displaying Gender Analysis

In [54]:
avg_per_person

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [55]:
gender_analysis = pd.DataFrame({
    "Purchase Count": gender_purchase_count,
    "Average Purchase Price" : avg_genderPurchases,
    "Total Revenue" : gender_total_revenue,
    "Average Per Person" : avg_per_person
    })

In [56]:
gender_analysis

,Purchase Count,Average Purchase Price,Total Revenue,Average Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [57]:
#Bin Age Groups

In [58]:
age_bins = [0,9,14,19,24,29,34,39, 9999]
age_names = ["<10","10-14","15-19", "20-24","25-29", "30-34","35-39","40+"]

In [59]:
heros_df["Age Group"] = pd.cut(heros_df["Age"],age_bins,labels=age_names)

In [60]:
heros_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [61]:
total_playersByAge = heros_df.groupby("Age Group")["SN"].nunique()

In [62]:
total_playersByAge

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [63]:
lessThanTen =round(100* total_playersByAge[0] / totalPlayers,2)

In [64]:
tenToForteen = round(100*total_playersByAge[1] / totalPlayers,2)

In [65]:
fifteenToNineteen = round(100*total_playersByAge[2] / totalPlayers,2)

In [66]:
twentyToTwentyfour = round(100*total_playersByAge[3] / totalPlayers,2)

In [67]:
twentyfiveToTwentynine = round(100*total_playersByAge[4] / totalPlayers,2)

In [68]:
thirtyToThirtyfour = round(100*total_playersByAge[5] / totalPlayers,2)

In [69]:
thirtyfiveToThirtynine = round(100*total_playersByAge[6] / totalPlayers,2)

In [70]:
overForty = round(100*total_playersByAge[7] / totalPlayers,2)

In [71]:
age_percentage_dict = {"<10" : lessThanTen,
                      "10-14": tenToForteen,
                      "15-19": fifteenToNineteen,
                      "20-24": twentyToTwentyfour,
                      "25-29": twentyfiveToTwentynine,
                      "30-34": thirtyToThirtyfour,
                       "35-39": thirtyfiveToThirtynine,
                       "40+": overForty
                      }

In [72]:
age_demographics = pd.DataFrame({"Total Count" : total_playersByAge, "Percentage of Players":age_percentage_dict})

In [73]:
age_demographics

       Total Count  Percentage of Players
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08
<10             17                   2.95

In [74]:
#Purchasing Analysis

In [75]:
purchase_count_byAge = heros_df.groupby(["Age Group"]).count()["Price"]

In [76]:
purchase_count_byAge

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Price, dtype: int64

In [77]:
avg_purchase_price_byAge = heros_df.groupby(["Age Group"])['Price'].mean()

In [78]:
avg_purchase_price_byAge.round(2)

Age Group
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [79]:
total_revenue_byAge = heros_df.groupby(["Age Group"])["Price"].sum()

In [80]:
total_revenue_byAge

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [81]:
player_info_byAge = heros_df.loc[:,["SN", "Age Group"]]
individual_byAge = player_info_byAge.sort_values("Age Group").drop_duplicates(subset=["SN"], keep = 'last')
indiv_value_byAge = individual_byAge["Age Group"].value_counts()

In [82]:
avg_totalPrice_perPerson_byAge =round( total_revenue_byAge / indiv_value_byAge,2)

In [83]:
avg_totalPrice_perPerson_byAge

10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
<10      4.54
dtype: float64

In [84]:
purchasing_analysis_byAge = pd.DataFrame({"Purchase Count" : purchase_count_byAge,
                                          "Average Purchase Price" : avg_purchase_price_byAge,
                                          "Total Purchase Value" : total_revenue_byAge,
                                          "Avg Total Purchase Price per Person": avg_totalPrice_perPerson_byAge})

In [85]:
purchasing_analysis_byAge = purchasing_analysis_byAge.round(2)

In [86]:
purchasing_analysis_byAge

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Price per Person
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19
<10,23,3.35,77.13,4.54

In [87]:
##TOP SPENDERS####

In [88]:
#Purchase Count

In [89]:
purchase_count_SN = heros_df.groupby("SN")["Purchase ID"].nunique()

In [90]:
purchase_count_SN.head(5)

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Purchase ID, dtype: int64

In [91]:
#Average Purchase Price of the Top 5 Purchasers

In [92]:
avg_purchase_price_SN = heros_df.groupby("SN")['Price'].mean()

In [93]:
avg_purchase_price_SN.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [94]:
#Total Purchase Value

In [95]:
total_price_SN = heros_df.groupby("SN")["Price"].sum().nlargest(5)

In [96]:
total_price_SN.head()

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [97]:
topSpenders_df = pd.DataFrame({"Total Purchase Value" : total_price_SN,
                  "Average Purchase Price" : avg_purchase_price_SN,
                  "Purchase Count" : purchase_count_SN             
                  })

In [98]:
topSpenders_df = topSpenders_df[np.isfinite(topSpenders_df['Total Purchase Value'])]

In [99]:
topSpenders_df = topSpenders_df.sort_values(by=['Total Purchase Value'], ascending=False).round(2)

In [100]:
topSpenders_df

             Total Purchase Value  Average Purchase Price  Purchase Count
Lisosia93                   18.96                    3.79               5
Idastidru52                 15.45                    3.86               4
Chamjask73                  13.83                    4.61               3
Iral74                      13.62                    3.40               4
Iskadarya95                 13.10                    4.37               3

In [101]:
### Most Popular Items ###

In [102]:
#Group and Index by unique items

In [103]:
item_info = heros_df.loc[:,["Item ID", "Item Name", "Price"]]
item_info.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [170]:
item_info.groupby("Item ID")["Item Name"]
individual_item = item_info.set_index("Item Name").drop_duplicates(subset=["Item ID"], keep='last')
individual_item.head()

                                 Item ID  Price
Item Name
Riddle, Tribute of Ended Dreams       27   3.30
Foul Titanium Battle Axe              56   2.92
Undead Crusader                      134   4.50
Curved Axe                            33   1.16
Dreamkiss                             81   3.61

In [171]:
#Item Count

In [172]:
item_count = heros_df["Item ID"].value_counts()

In [173]:
item_count.head()

178    12
82      9
108     9
145     9
92      8
Name: Item ID, dtype: int64

In [174]:
#Item Prices

In [175]:
indiv_item_value = individual_item["Price"]

In [176]:
indiv_item_value.head()

Item Name
Riddle, Tribute of Ended Dreams    3.30
Foul Titanium Battle Axe           2.92
Undead Crusader                    4.50
Curved Axe                         1.16
Dreamkiss                          3.61
Name: Price, dtype: float64

In [177]:
#Total Item Revenue

In [178]:
item_revenue = indiv_item_value*item_count.values

In [179]:
item_revenue.head()

Item Name
Riddle, Tribute of Ended Dreams    39.60
Foul Titanium Battle Axe           26.28
Undead Crusader                    40.50
Curved Axe                         10.44
Dreamkiss                          28.88
Name: Price, dtype: float64

In [180]:
#Create Most Popular DataFrame

In [181]:
popular_items = pd.DataFrame({
    "Purchase Count" : item_count.values,
    "Item Price" : indiv_item_value,
    "Total Purchase Value" : item_revenue
})

In [182]:
#Sort Options Popular Items DataFrame

In [183]:
popular_items = popular_items.sort_values(by=["Purchase Count"], ascending =False)

In [184]:
popular_items = popular_items.sort_values(by=["Total Purchase Value"], ascending=False)

In [185]:
popular_items.head()

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Undead Crusader,9,4.50,40.50
"Riddle, Tribute of Ended Dreams",12,3.30,39.60
Endbringer,8,4.66,37.28
Woeful Adamantite Claymore,8,4.48,35.84
"Spada, Etcher of Hatred",7,4.80,33.60

In [186]:
##Thoughts and Conclusions ###

In [187]:
#Three observable Trends :

In [188]:
#There is a substantial amount of male players versus the other genders

In [189]:
#People within the 20-24 age range make up the vast majority of purchasers and players

In [190]:
# Secondary age group is the 15-19 
#Secondary Gender is female at about 14%